.produtos {
    margin-bottom: 160px;

    @include d(m) {
        margin-bottom: 90px;
    }

    h1 {
        @include tituloSecoes($cor-primaria);
        text-align: center;

        @include d(m) {
            text-align: left;
        }
    }

    &__wrapper {
        padding: rem(64) 0;
        justify-content: center;
        @include d(m) {
            padding: rem(24) 0 rem(48) 0;
            justify-content: unset;
        }

        .swiper-slide {
            height: auto;
        }

        &-item {
            box-shadow: 0px 16px 32px rgba(229, 222, 241, 0.5);
            border-radius: 16px;
            background-color: $cor-branco;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            @include d(m){
                max-width: auto;
            }

            &-img {
                img {
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                    object-fit: cover;
                    width: 100%;
                }

            }

            &-texto {
                padding: rem(24);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
               
           

                h3 {
                    font-size: rem(24);
                    font-weight: 600;
                    color: $cor-primaria;
                    text-align: center;
                    line-height: 160%;
                    padding-bottom: rem(24);
                }

                p {
                    font-size: rem(18);
                    font-weight: 400;
                    color: $cor-preto-1;
                    line-height: 180%;
                    text-align: center;
                    
                }

                .btn__produtos {
                    @include botao($cor-branco);
                    margin: 40px auto 0 auto;
                    padding: rem(20) rem(40);
                    transition: background .3s ease-in;
                    &:hover,
                    &:focus {
                        background: $cor-roxo;
                    }
                }
            }
        }
    }

}