@import "../components/secao_passo";
@import "../components/secao_produtos";
@import "../components/secao_parceiros";
@import "../components/secao_busca";
@import "../components/secao_duvidas";





.introducao {
    margin-top: 140px;
    margin-bottom: 160px;
    position: relative;
    @include d(m){
        margin-bottom: 90px;
    }
    @include d(s) {
        margin-top: 98px;
        margin-bottom: 90px;
    }

    .container {
        @include d(s) {
            padding: 0;
            height: 100%;
        }
    }

    &__wrapper {
        background: $cor-azul-background;
        background-image: url("../img/page-alinhador/banner.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 110px;
        border-radius: 16px;
        @include d(m){
            padding: 4rem;
            background-position: center;
        }

        @include d(s) {
            background-image: url("../img/page-alinhador/banner-mobile.png");
            padding: 0;
            height: 100%;
            background-size: cover;
            height: rem(700);
            border-radius: 0;
        }

        &-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            @include d(s) {
                justify-content: flex-end;
            }

            h1 {
                font-size: rem(48);
                font-weight: 900;
                line-height: 140%;
                color: $cor-branco;
                @include d(m){
                    font-size: 2.5rem;
                }

                @include d(s) {
                    font-weight: 700;
                    text-align: center;
                    font-size: rem(32);

                }
            }

            p {
                padding-top: rem(16);
                font-size: rem(16);
                font-weight: 400;
                color: $cor-branco-2;
                @include d(m){
                    font-size: .875rem;
                    max-width: 400px;
                }

                @include d(s) {
                    color: $cor-branco;
                    text-align: center;
                    max-width: 290px;
                    margin: 0 auto;
                }
            }

            &-botoes {
                padding-top: rem(40);

                @include d(s) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0 0 rem(64) 0;
                }

                .btn__teste-sorriso {
                    @include botao($cor-roxo-escuro);
                    padding: rem(24) rem(64);
                    border-radius: 8px;
                    background: $cor-azul;
                    border: 1px solid $cor-azul;
                    transition: color .3s ease-in, background .3s ease-in;
                    &:hover,
                    &:focus {
                        background: transparent;
                        color: $cor-branco;
                    }
                    @include d(m){
                        padding: 1.125rem 1.625rem;
                    }

                    @include d(s) {
                        margin-top: 32px;
                        padding: rem(24) rem(64);
                    }
                }
            }
        }
    }
}



.passo__wrapper {
    grid-template-columns: repeat(3, 1fr);
}


.possibilidades {
    margin-bottom: 160px;

    @include d(m) {
        margin-bottom: 90px;
    }

    h1 {
        @include tituloSecoes($cor-primaria);
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        padding-top: rem(64);

        .comparador {
            @include comparador("../img/page-alinhador/alinhamento-a-pc.jpg", "../img/page-alinhador/alinhamento-b-pc.jpg");
            width: 100%;
            max-width: 400px;
            height: 345px;

            @include d(s) {
                @include comparador("../img/page-alinhador/alinhamento-a-mobile.jpg", "../img/page-alinhador/alinhamento-b-mobile.jpg");
                width: 100%;
                max-width: 350px;
                height: 324px;
            }
        }
    }
}



.banner__inferior {
    margin-bottom: 300px;

    @include d(m) {
        margin-bottom: 160px;
    }

    &-wrapper {
        background-image: url("../img/page-alinhador/banner-rapaz.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: rem(550);
        border-radius: 16px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        @include d(m) {
            background-image: url('');
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        &-box {
            background-color: $cor-roxo-escuro;
            max-width: 600px;
            position: absolute;
            bottom: -150px;
            right: 90px;
            padding: rem(32);
            border-radius: 16px;
            box-shadow: 0px 16px 56px rgba(79, 68, 104, 0.4);

            @include d(m) {
                position: initial;

            }

            h3 {
                font-size: rem(24);
                font-weight: 600;
                line-height: 140%;
                text-align: center;
                color: $cor-azul;
            }

            &-lista {
                padding-top: rem(32);
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    align-items: flex-start;

                    &+li {
                        margin-top: 16px;
                    }

                    p {
                        color: $cor-branco;
                        margin-left: 8px;
                        line-height: 160%;
                        font-size: rem(16);

                        @include d(s) {
                            font-size: rem(14);
                        }
                    }
                }
            }

            .btn__encontre {
                @include botao($cor-roxo-escuro);
                width: 100%;
                padding: rem(20) rem(64);
                border-radius: 4px;
                background-color: $cor-azul;
                margin-top: 24px;
                border: 1px solid $cor-azul;
                transition: color .3s ease-in, background .3s ease-in;

                &:hover,
                &:focus {
                    background: transparent;
                    color: $cor-azul;
                }
            }
        }
    }
}




.secao__diferenciada {
    background-color: $cor-background-2;
    padding: rem(80) 0;
    margin-bottom: 160px;

    @include d(m) {
        margin-bottom: 90px;
    }
}